body{
    font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif;
}
.top-banner{
    background-color: rgba(29, 18, 179, 0.774);
}
.nav-banner{
    background-color: rgba(29, 18, 179, 0.774);r;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    margin-right: 15px;
    padding: 10px 20px;
    
}
nav i{
    display: flex;
    justify-content: space-between;
}
.Login-button{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 1px 20px;
    color: white;
    justify-content: space-between;
    
    
    
}
section{
   display: flex;
}
.kick{
    font-size: 25px;
    color: white;
    width: 50%;
  padding-left: 5%;
}
.kick img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 40px;
    color: white;
}
.menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
}
.player{
    border: 15px solid rgb(235, 229, 229);
    width: 250px;
    margin: 20px;
    
}
.player img{
    width: 100%;
}
section{
    display: flex;
 }
 .flick{
     width: 50%;
   padding-left: 5%;
 }
 .flick img{
     width: 100%;
 }
 .link-button{
     text-decoration: none;
     background-color: #E02C6D;
     padding: 10px 40px;
     color: white;
 }
 .social-icon a{
     color: darkgray;
 }
 footer p{
     text-align: center;
 }
 